@import "../../styles/General.scss";

input {
  display: block;
  width: 400px;
  height: 44px;
  padding: 0.65rem 0.5rem;
  border: $input-border;
  border-radius: 4px;
  background-color: $input-bg-color;

  @media screen and (max-width: $small) {
    width: 100%;
  }
}

.error {
  @extend %errorMsg;
}
