@import "../../styles/General.scss";

.header__container {
  &_box {
    display: flex;
    padding-bottom: 24px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $header-border-bottom;

    @media screen and (max-width: $small) {
      flex-direction: column;
    }
  }

  &_avatar {
    display: inline-flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-family: "SB Sans Text Mono";
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    border-radius: 100px;
    color: $header-avatar-color;
    background-color: $header-avatar-bg-color;
  }

  &_info {
    width: 228px;
    margin-left: 24px;
  }

  h1 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 26px;
    color: $header-color;
  }

  &_contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: $small) {
      justify-content: center;
    }

    div {
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }

    p {
      margin-left: 4px;
      margin-right: 16px;
      color: $social-networks-color;
    }

    a {
      text-decoration: none;
    }
  }
}
