/* colors */
$page-general-background: #0000000a;
$form-general-background: #ffffff;
$social-networks-color: #5558fa;
$progress-bar-bg-color: #5558fa;
$progress-bar-step-bg: #a6a6a6;
$progress-bar-numbers-color: #666666;
$header-border-bottom: #00000014;
$header-avatar-color: #212830;
$header-avatar-bg-color: #d5e4f7;
$header-color: #333333;
$button-color: #ffffff;
$button-bg-color: #5558fa;
$input-bg-color: #0000000a;
$error-msg-color: #ff0000;
$modal-success-color: #05ae7126;
$modal-fail-color: #e84e5826;
$modal-bg-cross: #0000000a;

/* other */
$input-border: 1px solid #00000029;
$select-border: 1px solid #00000029;
$checkbox-radio-border: 1.5px solid rgba(0, 0, 0, 0.24);
$modal-box-shadow: 0px 8px 32px #00000014;

/* media queries */
$small: 480px;
$medium: 900px;
